@import url(./fonts.css);

.Vendetucasa {
  width: 449px;
  height: 168px;
  margin: 70px 75px 57px 106px;
  font-size: 70px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-family: textStyle2;
  color: #ffffff
}
.Vendetucasa .text-style-1 {
  font-weight: bold;
}


.Rectangle2 {
  width: 630px;
  height: 80px;
  margin: 57px 0 27px;
  padding: 16px 15px 14px 20px;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 0 rgba(23, 53, 111, 0.2);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Rectangle3 {
  width: 170px;
  height: 50px;
  margin: 24px 38px 0 230px;
  padding: 10px 11px 10px 23px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Button {
  width: 215px;
  height: 50px;
  margin: 0 0 0 48px;
  padding: 15px 5px 16px 10px;
  border-radius: 3px;
  background-color: #008bcf;
  font-family: textStyle2;
  color: white;
  text-align: center;
  font-weight: 600;
}

.Introduce_la_direcci {
  width: 294px;
  height: 22px;

  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}

.ferran_fusalba_99194{

  margin: 120px 0 375px;
  padding: 70px 485px 112px;
  object-fit: contain;
}
.windowPicture{
  position: absolute;
}
.contentPicture{
  position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.compramos_tucasa {
  width: 430px;
  height: 52px;
  margin: 27px 100px 24px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}