.Vendetucasa {
  width: 449px;
  height: 168px;
  margin: 0 75px 57px 106px;
  font-family: Lato;
  font-size: 70px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: blue;
}
.Vendetucasa .text-style-1 {
  font-weight: bold;
}