@font-face {
  font-family: "textStyle";
  src: url("/fonts/Lato-Regular.ttf");
  font-size: 14px;
  color: #4a4a4a
}
@font-face {
  font-family: "textStyle2";
  src: url("/fonts/Lato-Light.ttf");
  font-size: 70px;
  color: #ffffff
}

@font-face {
  font-family: "textStyle3";
  src: url("/fonts/Palatino-bold.ttf");
  font-size: 30px;
  color: #ffffff
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

