@import url(./fonts.css);
.containerTitle {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.contentLogo{
  margin-left: 42px;

}
.itemscenter{
align-items: center;
justify-content: space-between;
}


.logo{
  width: 209px;
  height: 54px;
  position: relative;
  margin-left: 42px;
}
.imaged{
  width: 60px;
  height: 60px;
  position: relative;

}


.titleMenu{
  display: flex;
}



.VENDER {
  width: 56px;
  height: 17px;
 
  font-family: textStyle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;
  border-bottom: 2px solid #008bcf;
}

.COMPRAR {
  width: 70px;
  height: 17px;
 
  font-family: textStyle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;
}

.YOELIJOCLICPISO {
  width: 127px;
  height: 17px;

  font-family: textStyle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;
}

.PORQUCLICPISO {
  width: 137px;
  height: 17px;
 
  font-family: textStyle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  cursor: pointer;
}

.number {
  width: 113px;
  height: 24px;
  font-family: textStyle;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #545454;
  margin-top: 5%;
}
.buttonBurger{
  display: none;
}

.marginTitle{
 margin-top: 56px;
}
.numberf{
  display: -webkit-inline-box;

}

@media only screen and (max-width: 480px) {
  .titleMenu {
   display: none;
  }
  .number {
    display: none;
   }
   .buttonBurger{
    display: flex;
  }

  .logo{
    width: 126px;
    height: 34px;
    margin-left: 9px;
  }
  .logoBurger{

    width: 22px;
    height: 16px;
    position: relative;
    margin-left: 15px;
 
  }
  
  .numberf{
    margin-left: 33px;

  }

  .imaged{
   
    width: 50px;
    height: 50px;
  }

  @media only screen and (max-width: 370px) {
    
    .numberf{
      margin-left: 12px;
    }
    .imaged{
   
      width: 40px;
      height: 40px;
    }
   
  }

}